/**
 * Citizen皮肤的全站CSS
 */


/* 页面基础
---------------------------------------- */
.mw-references-wrap {
    font-size: inherit;
}

.page-actions__card,
.oo-ui-defaultOverlay {
    z-index: 99999;
}

.wikiEditor-ui .wikiEditor-ui-top:before {
    content: none;
}

#page-actions-more__card,
.page-actions__card a {
    white-space: nowrap;
}

/* 提醒
---------------------------------------- */
#pt-talk-alert {
    padding: 0;
}


#pt-talk-alert>a {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

/* nomobile和mobileonly
---------------------------------------- */
@media screen and (max-width: 768px) {
    .nomobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .mobileonly {
        display: none !important;
    }
}


.in-page-edit .wikiEditor-ui-top::before {
    display: none;
}

/* Wikiplus和编辑序言支持
---------------------------------------- */
#p-views>ul {
    align-items: center;
}

#p-views>ul .mw-editsection-divider {
    display: none !important;
}

#p-views a {
    line-height: 20px;
    padding: .5rem .7rem;
}

#ca-editTopSection .mw-editsection::before {
    display: none;
}

#Wikiplus-Edit-TopBtn span,
#ca-editTopSection span {
    margin-left: 0;
}

#Wikiplus-Edit-TopBtn a,
#ca-editTopSection a {
    display: block;
    box-sizing: content-box;
    height: 20px;
    color: var(--color-base);
    border-radius: var(--border-radius--medium);
    transition: background 100ms ease, color 100ms ease;
}

#Wikiplus-Edit-TopBtn a:hover,
#ca-editTopSection a:hover {
    background-color: var(--background-color-quiet--hover);
    color: var(--color-base--emphasized);
}

@media screen and (max-width: 500px) {
    .skin-citizen #ca-editTopSection .Wikiplus-Edit-SectionBtn {
        display: none;
    }
}