/**
 * 全站css，应用于所有用户的所有皮肤。
 */


/* 通用
---------------------------------------- */

 :root {
    --global-border-color: #2a52be;
    --global-border: 3px solid var(--global-border-color);
    --global-background-color: #2a52be;
    --notebox-background-color: #eaeff2;
}

.right-float {
    float: right;
    clear: right;
    margin: 0 0 .3em .4em;
}


/* 信息栏
---------------------------------------- */
#infobox {
    border: var(--global-border);
    border-radius: .5em;
    background-color: #fff;
}

#infobox .infobox-title {
    font-size: 1.2em;
}

#infobox .infobox-image img {
    width: 250px;
}

#infobox th,
#infobox td {
    text-align: center;
}

#infobox th {
    border-radius: .3em;
    background-color: var(--global-background-color);
    color: #fff;
    font-weight: 700;
}


/* 右浮导航
---------------------------------------- */
.right-nav {
    width: 250px;
    padding: .35em;
    border: var(--global-border);
    border-radius: .5em;
    text-align: center;
}

.right-nav-name {
    margin-bottom: .13em;
    padding: .1em;
    background-color: var(--global-background-color);
    border-radius: .3em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.right-nav-title {
    margin: 0.12em 0;
    padding: .1em;
    background-color: var(--global-background-color);
    border-radius: .3em;
    color: #fff;
    font-weight: 700;
}

.right-nav-content {
    font-size: .9em;
}

/* 模板文档
---------------------------------------- */
.template-doc {
    clear: both;
    margin-top: .7em;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    border-radius: .5em;
    box-shadow: .1em .1em .2em rgba(127, 127, 127, .2);
    background: rgba(42, 82, 190, .02);
}

.template-doc-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.template-doc-title {
    font-size: 1.4em;
    font-weight: 700;
}

.template-doc-link {
    font-size: .75em;
}

.template-doc-link,
.template-doc-link a,
.template-doc-link a:visited {
    color: #0645ad !important;
}


/* 各类提示模板
---------------------------------------- */

/* 条目提示模板（Article note box） */
.anbox {
    border: 2px solid var(--global-border-color);
}

.anbox>div {
    background-color: var(--notebox-background-color);
    margin: .3em;
    padding: .8em;
}

.pnbox {
    border: 2px solid var(--global-border-color);
}

.pnbox>div {
    display: flex;
    align-items: center;
    margin: .3em;
    padding: .3em;
    background-color: var(--notebox-background-color);
}

.pnbox-left,
.pnbox-right {
    padding: .05em .3em;
}

.pnbox-left img {
    width: 70px;
}

.pnbox-right {
    flex-grow: 1;
}