/**
 * 全站css，应用于所有用户的所有皮肤。
 */

:root {
    --global-border-color: #2a52be;
    --global-bg-color: #2a52be;
}

/* 右浮导航
---------------------------------------- */
.right-nav {
    width: 250px;
    float: right;
    clear: right;
    margin: 0 0 .3em .4em;
    padding: .35em;
    border: 3px solid var(--global-border-color);
    border-radius: 5px;
    text-align: center;
}

.right-nav-name {
    padding: .1em;
    border: 1px solid #ccc;
    background-color: var(--global-bg-color);
    border-radius: 3px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.right-nav-title {
    margin-top: .25em;
    padding: .1em;
    background-color: var(--global-bg-color);
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
}

.right-nav-content {
    font-size: .9em;
}

/* 模板文档
---------------------------------------- */
.template-doc {
    clear: both;
    margin-top: .7em;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    border-radius: .5em;
    box-shadow: .1em .1em .2em rgba(127, 127, 127, .2);
    background: rgba(42, 82, 190, .02);
}

.template-doc-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.template-doc-title {
    font-size: 1.4em;
    font-weight: 700;
}

.template-doc-link {
    font-size: .75em;
}

.template-doc-link,
.template-doc-link a,
.template-doc-link a:visited {
    color: #0645ad !important;
}


/* 各类提示模板
---------------------------------------- */

/* 条目提示模板（Article note box） */
.anbox {
    border: 2px solid var(--global-border-color);
}

.anbox>div {
    background-color: #eaeff2;
    margin: 4px;
    padding: .8em;
}