.skin-citizen #ca-editTopSection a,
.skin-citizen #Wikiplus-Edit-TopBtn a {
    color: var(--color-base);
    display: flex;
    align-items: center;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--border-radius--medium);
    transition: background 100ms ease, color 100ms ease;
}

.skin-citizen #Wikiplus-Edit-TopBtn a {
    gap: var(--space-xs);
}

.skin-citizen #Wikiplus-Edit-TopBtn a:hover {
    background-color: var(--background-color-quiet--hover);
    color: var(--color-base--emphasized);
}

.skin-citizen #Wikiplus-Edit-TopBtn a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E%3Cg fill=%22%23000%22%3E %3Cpath d=%22m19.5 9.8 2.2-2.2c.4-.4.4-1.1 0-1.6L18 2.3c-.4-.4-1.1-.4-1.6 0l-2.2 2.2 5.3 5.3zm-6.4-4.1L2 16.7V22h5.3l11.1-11.1c-.1 0-5.3-5.2-5.3-5.2z%22/%3E %3C/g%3E%3C/svg%3E")
}

.skin-citizen .mw-editsection-bracket,
.skin-citizen .mw-editsection-divider {
    display: none !important;
}

.skin-citizen .mw-editsection>span {
    display: flex;
    align-items: center;
}

.skin-citizen a.Wikiplus-Edit-SectionBtn {
    color: var(--color-base);
    line-height: 1;
}

.skin-vector-2022 #p-views ul.vector-menu-content-list {
    display: flex;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn {
    margin: 0 8px;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span {
    display: block;
    height: 100%;
    box-sizing: border-box;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span>a {
    padding: 18px 0 5px 0;
    display: block;
    margin-bottom: -1px;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}