/**
 * Wikiplus的配套样式支持
 * Citizen的页顶编辑栏部分拆分至[[MediaWiki:Citizen.css]]，便于整合。
 */



/* Citizen
---------------------------------------- */
.skin-citizen .mw-editsection-bracket,
.skin-citizen .mw-editsection-divider {
    display: none !important;
}

.skin-citizen .mw-editsection>span {
    display: flex;
    align-items: center;
}

.skin-citizen a.Wikiplus-Edit-SectionBtn {
    color: var(--color-base);
    height: 18px;
    line-height: 18px;
}


/* Vector 2022
---------------------------------------- */
.skin-vector-2022 #p-views ul.vector-menu-content-list {
    display: flex;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn {
    margin: 0 8px;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span {
    display: block;
    height: 100%;
    box-sizing: border-box;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span>a {
    padding: 18px 0 5px 0;
    display: block;
    margin-bottom: -1px;
}

.skin-vector-2022 #Wikiplus-Edit-TopBtn>span>a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}
