.user-rights-bureaucrat:after {
	color: #003366;
	content: "政";
}

.user-rights-suppress:after {
	color: #8B4513;
	content: "监";
}

.user-rights-sysop:after {
	color: #008B8B;
	content: "管";
}

.user-rights-patroller:after {
	color: #006400;
	content: "巡";
}

.user-rights-interface-admin:after {
	color: #30D5C8;
	content: "界";
}

.user-rights-bot:after {
	color: blue;
	content: "机";
}