/**
* 全站css，应用于所有用户的所有皮肤。
*/
/* 全局变量
---------------------------------------- */
:root {
    --global-border-color: #2a52be;
    --global-border: 2px solid var(--global-border-color);
    --global-background-color: #2a52be;
    --notebox-background-color: #eaeff2;
    --subtitle-background-color: #5686bf;
    --box-border-radius: 0.5em;
    --box-inner-border-radius: 0.3em;
}

/* 页面基础
---------------------------------------- */
.mw-parser-output h2 {
    font-weight: 700;
}

#mw-content-text ol {
    margin-left: 1.4em;
}

.mw-parser-output dd>ol,
.mw-parser-output dd>ul,
.mw-parser-output dd>dl {
    margin-top: .2em;
}

.mw-parser-output>img,
.mw-parser-output p>img {
    max-width: 100%;
}

.patroller-only,
.sysop-only {
    display: none !important;
}

.action-edit ul.permissions-errors {
    list-style: none;
    margin: 0;
}

.action-edit ul.permissions-errors>li:not(:last-child) {
    margin-bottom: .8em;
}

pre,
.mw-code {
    font-family: Consolas, "JetBrains Mono", "Source Code Pro", "Menlo", "Consolas", "Courier New", monospace;
}

/* 常用类
---------------------------------------- */
.right-float {
    float: right;
    clear: right;
    margin: .3em 0 .3em .4em;
}

.columns-list>ul,
.columns-list>ol,
.columns-list>dl {
    margin-top: 0;
}

/* Message Box
---------------------------------------- */
.messagebox {
    border: var(--global-border);
    padding: 0.2em 1em;
    background: rgb(42 82 190 / 2%);
    border-radius: var(--box-inner-border-radius);
    width: 80%;
    margin: auto;
    text-align: justify;
}

/* File模板
---------------------------------------- */
.image-nothumb {
    display: inline-block;
}

.image-thumb {
    border: 1px solid #b8b8b8;
    width: fit-content;
    padding: 3px;
    background-color: #fcfcfc;
}

.image-thumb-inner {
    border: 1px solid #ccc;
}

.image-thumb-inner>img,
.image-nothumb>img {
    width: 100%;
    height: auto;
}

.image-thumb-describe {
    padding: 0.1em 0 0 0.1em;
}

/* 导航条
---------------------------------------- */
.catnav {
    border: 1px solid var(--global-border-color);
    padding: 0.2em 0.4em;
    background: rgb(42 82 190 / 2%);
    border-radius: var(--box-inner-border-radius);
}

/* 信息栏
---------------------------------------- */
#infobox {
    display: table;
    border: var(--global-border);
    border-radius: var(--box-border-radius);
    background-color: transparent;
    max-width: 280px;
}

#infobox .infobox-title {
    font-size: 1.2em;
    min-width: 275px;
    background-color: var(--global-background-color);
    color: #fff;
}

#infobox .infobox-subtitle {
    min-width: 275px;
    background-color: var(--subtitle-background-color);
    color: #fff;
}

#infobox .infobox-left {
    background-color: var(--notebox-background-color);
    color: var(--global-background-color);
}

#infobox .infobox-image img {
    width: 275px;
}

#infobox td {
    max-width: 190px;
}

@media screen and (max-width: 576px) {
    #infobox {
        max-width: 100%;
        width: 100%;
        float: unset;
        clear: both;
        margin: 0.5em 0;
    }

    #infobox .infobox-image img {
        width: 100%;
        max-width: 360px;
    }

    #infobox .infobox-title {
        min-width: auto;
    }
}

#infobox th,
#infobox td {
    border-radius: var(--box-inner-border-radius);
}

#infobox th {
    font-weight: 700;
    min-width: 5.3em;
    text-align: center;
}

.infobox-inner-sprt {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infobox-inner-sprt>div {
    width: 49.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 底部导航
---------------------------------------- */
.navbox {
    width: 100%;
    border: 2px solid var(--global-border-color);
    border-radius: var(--box-border-radius);
    border-collapse: separate;
    border-spacing: 3px;
}

.navbox .navbox-edit,
.navbox .mw-collapsible-toggle {
    font-size: smaller;
    width: 2.7em;
    white-space: nowrap;
    margin-top: 0.1em;
}

.navbox-edit {
    float: left;
    text-align: left;
}

.navbox-name {
    font-size: 1.1em;
}

.navbox .mw-collapsible-text,
.navbox .navbox-edit a,
.navbox .navbox-edit a.external,
.navbox .navbox-edit a.external:hover,
.navbox .navbox-edit a:visited {
    color: #fff;
}

.navbox-title {
    background-color: var(--subtitle-background-color);
    color: #fff;
    border-radius: var(--box-inner-border-radius);
}

.navbox-name,
.navbox-bottom {
    background-color: var(--global-background-color);
    color: #fff;
    border-radius: var(--box-inner-border-radius);
}

.navbox th,
.navbox td {
    padding: .1em .2em;
}

.navbox-bottom {
    text-align: center;
    font-style: italic;
}

/* 右浮导航
---------------------------------------- */
.right-nav {
    width: 270px;
    padding: .35em;
    border: var(--global-border);
    border-radius: var(--box-border-radius);
    text-align: center;
}

@media screen and (max-width: 576px) {
    .right-nav {
        max-width: 100%;
        width: 100%;
        float: unset;
        clear: both;
        margin: 0.5em 0;
    }
}

.right-nav-name {
    margin-bottom: .13em;
    padding: .1em;
    background-color: var(--global-background-color);
    border-radius: var(--box-inner-border-radius);
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.right-nav-title {
    margin: 0.12em 0;
    padding: .1em;
    background-color: var(--subtitle-background-color);
    border-radius: var(--box-inner-border-radius);
    color: #fff;
    font-weight: 700;
}

.right-nav-content {
    font-size: .9em;
}

/* 模板文档
---------------------------------------- */
.template-doc {
    display: flow-root;
    clear: both;
    margin-top: .7em;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    border-radius: var(--box-border-radius);
    box-shadow: .1em .1em .2em rgb(127 127 127 / 20%);
    background: rgb(42 82 190 / 2%);
}

.template-doc-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.template-doc-title {
    font-size: 1.4em;
    font-weight: 700;
}

.template-doc-link {
    font-size: .75em;
}

.template-doc-link,
.template-doc-link a,
.template-doc-link a:visited {
    color: #0645ad !important;
}

/* 各类提示模板
* 条目提示模板（Article note box）
* 方针提示模板（Policy note box）
* 警告模板（Warning note box）
---------------------------------------- */
.nbox {
    display: flow-root
}

.nbox>div {
    display: flex;
    align-items: center;
    margin: .3em;
    padding: .3em;
    background-color: var(--notebox-background-color);
}

.nbox ul,
.nbox p {
    margin-top: .5em;
    margin-bottom: .5em;
}

.anbox {
    border: 2px solid var(--global-border-color);
}

.anbox>div {
    padding: .4em .8em;
    display: block;
}

.anbox-title {
    font-size: 1.3em;
    font-weight: 600;
    color: #000000;
}

.anbox-content {
    color: #000000;
}

.anbox hr {
    margin: .34rem 0;
}

.pnbox {
    border: 2px solid var(--global-border-color);
}

.wnbox {
    border: 2px solid #9c0000;
}

.tnbox {
    border: 2px solid #008B8B;
}

.tnbox>div {
    background-color: #D9EEEE;
}

.pnbox-left,
.pnbox-right,
.wnbox-left,
.wnbox-right,
.tnbox-left,
.tnbox-right {
    padding: .05em .3em;
}

/*
.pnbox-left img,
.wnbox-left img,
.tnbox-left img {
    width: 70px;
    height: auto;
}
*/
.pnbox-right,
.wnbox-right,
.tnbox-right {
    flex-grow: 1;
    color: #000000;
}

.warning-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 1.8em;
    font: 700 1.8em consolas, "JetBrains Mono", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Courier, monospace;
    line-height: 100%;
    border: 3px solid #9c0000;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* [[Template:Tabs]]
---------------------------------------- */
.template-tabs {
    border: 1px solid #ccc;
}